* {
	box-sizing: border-box;
}

/*mobile*/
[class*="col-"] {
    float: left;
    padding: 15px;
	/*width: 100%;*/
}


.row::after {
    content: "";
    clear: both;
    display: table;
}

@media only screen and (min-width:100px){
	.col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}

}

@media only screen and (min-width:360px){
	.col-m-m-0 {width: 0%;}
	.col-m-m-1 {width: 8.33%;}
    .col-m-m-2 {width: 16.66%;}
    .col-m-m-3 {width: 25%;}
    .col-m-m-4 {width: 33.33%;}
    .col-m-m-5 {width: 41.66%;}
    .col-m-m-6 {width: 50%;}
    .col-m-m-7 {width: 58.33%;}
    .col-m-m-8 {width: 66.66%;}
    .col-m-m-9 {width: 75%;}
    .col-m-m-10 {width: 83.33%;}
    .col-m-m-11 {width: 91.66%;}
    .col-m-m-12 {width: 100%;}

}

@media only screen and (min-width:800px){
	/*big screen - desktops*/
	.col-0 {width: 0%;}
	.col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
	
	.main-icon{
		display:inline-block;
	}

	.temp-cond{
		display:inline-block;
	}
	
	#Icon {width:auto;}
	.Icon2 {width:100%;}
	.Icon3 {width:100%;}
	.Icon4 {width:100%;}
	.Icon5 {width:100%;}
	.Icon6 {width:100%;}
	.Icon7 {width:100%;}
	#Icon8 {width:100%;}
	#Icon9 {width:100%;}
	#Icon10 {width:100%;}
	#Icon11 {width:100%;}
	#Icon12 {width:100%;}
	#Icon13 {width:100%;}
	#Icon14 {width:100%;}
	#Icon15 {width:100%;}
	#Icon16 {width:100%;}
	
	details{
	text-align: right;
	}
	
	#IconWind, #IconHum{
		width:10%;
	}
}


.htmlClass{
	height: auto;
	min-height: 100%;
}

body{
	font-family: 'Play', sans-serif;
}

.dawn{
	height: 100%;
	margin:0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background: linear-gradient(#8D78B1, #A492C2, #C8B1CE, #D39AAB, #DB797A, #E06961, #E46556, #EE5F37, #F46A29, #F1662B, #FC932A);
}

.dusk{
	height: 100%;
	margin:0;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background: linear-gradient(#1B2131, #2D384E, #46545F, #5A6A84, #5D6A72, #676F5A, #787A52, #7A7D52, #999959, #AEAB66, #C2C076);
	color: white;
}

ul.tab {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

ul.tab li {float: left;}

ul.tab li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

ul.tab li a:hover {background-color: #ddd;}

ul.tab li a:focus, .active {background-color: #ccc;}

.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}

#IconWind, #IconHum, #Wind, #Hum{
	display: inline-block;
	
}